%p#notice= notice
%p
  %strong Purchase date:
  = @order.purchase_date
%p
  %strong Sku:
  = @order.sku
%p
  %strong Product name:
  = @order.product_name
= link_to 'Edit', edit_order_path(@order)
|
= link_to 'Back', orders_path
